# DB
DB_DEFAULT_TYPE=postgres
DB_DEFAULT_HOST=db
DB_DEFAULT_PORT=5432
DB_DEFAULT_USERNAME=kong
DB_DEFAULT_PASSWORD=kong
DB_DEFAULT_DATABASE=blog-user

#APP
API_PORT=2222
NODE_ENV=DEV
SENTRY_DSN=

# JWT CONFIG
JWT_APP_SECRET=w
JWT_EXPIRES_IN=3d
JWT_ALGORITHM=HS384
JWT_ISSUER=w

# SONAR
SONAR_LOGIN=
SONAR_PASSWORD=
SONAR_SERVER_URL=http://localhost:9000
SONAR_PROJECT_KEY=
